body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(38, 43, 38);
}
 /* about me section  */
#about-me h1{
    text-align: center;
    text-transform: capitalize;
}
.about-me-content{
    justify-content: center;
    display: flex;
    margin-bottom: 10%;
}
.about-me-box li{
    text-align: left;
    list-style-type: disc;
    margin: 1% 0;
}

.about-me-box{
    border: 1px solid;
    width: 50%;
    margin-left: 5%;
}

#home{
    text-align: center;
    height: 500px;


}
.my-image{
    width: 30%;
}

#home h1{
    font-style: italic;
    padding-top: 125px;
    font-size: 500%;
    text-transform: capitalize;
}

#home p{
    margin-top: -40px;
    color: rgb(39, 39, 39);
    font-style: italic;
    font-weight:400;
    padding: 0 5%;
    font-family:cursive;
}

/* nav-bar section  */
.nav-bar{
    padding: 3%;
}
ul.nav-bar{
    margin: 0;
    opacity: 80%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    list-style: none;
    display: flex;
    background-color: rgba(47, 161, 238, 0.438);
}
.nav-bar li{
    padding: 10px;
}

.nav-bar li:hover{
    background-color: rgb(0, 255, 98);
}
.nav-bar a{
    color: rgb(3, 42, 214);
    text-decoration: none;
    white-space: nowrap; 
    text-transform: capitalize;
    font-weight: 700;
}

/* project section  */
#projects{
    margin-top: 20%;
    margin-bottom: 10%;
}
#projects h1{
    text-align: center;
    text-transform: capitalize;
}
.my-projects{
    display: flex;
    justify-content: center;
}
.project{
    border: 1px solid gray;
    padding: 3%;
    width: 35%;
    margin: 2%;
}
.project img{
    width: 100%;
}

/* Contacts Section  */
#contacts{
    background-color: rgb(251, 244, 252);
    padding: 0.1% 0 3% 0;
}
#contacts h1,li{
    text-align: center;
    list-style-type:none;
}